body {
    background-image: url('../img/marmol.png');
    z-index: 0;
}

ul {
    list-style-type: none;
}

.titulo {
    font-family: 'Rubik', sans-serif;
}

.justify {
    text-align: justify;
}

.text-green {
    color: rgb(114, 160, 67) !important;
}

.bg-green {
    background-color: rgb(114, 160, 67);
}

.text-blue {
    color: #0054a7;
}

.text-yellow {
    color: rgb(222, 144, 50);
}

.recuadro_p {
    position: relative;
    min-height: 45vh;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.recuadro_p:hover {
    opacity: 0.7;
}

.ap_alert {
    width: 85px;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}


/*TODAS LAS IMG DE ACTIVIDADES*/

.bg-actividad-red,
.bg-actividad-blue,
.bg-actividad-green,
.bg-actividad-yellow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
}

.bg-actividad-red {
    background-color: rgba(216, 10, 10, 0.5);
}

.bg-actividad-blue {
    background-color: rgba(10, 24, 216, 0.5);
}

.bg-actividad-yellow {
    background-color: rgba(220, 203, 14, 0.5);
}

.bg-actividad-green {
    background-color: rgba(10, 216, 37, 0.5);
}

#pasadias {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/pasadias.png");
}

#inclusion {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/inclusion.png");
}

#visitas {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/visitas.png");
}

#pintura {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/pintura.png");
}

#cocina {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/cocina.png");
}

#yoga {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/yoga.png");
}

#recreativo {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/recreativo.png");
}

#deportivo {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/deportivo.png");
}

#aprendizaje {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/aprendizaje.png");
}

#activacion {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/activacion.png");
}

#sexualidad {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/sexualidad.png");
}

#competencias {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/competencias.png");
}

#terapias {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/terapias.png");
}

#manualidades {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/manualidades.png");
}

#motricidad {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/motricidad.png");
}

#autodeterminacion {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/autodeterminacion.png");
}

#cultura {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/cultura.png");
}

#computacion {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(227, 227, 227, 0.1)), url("../img/computacion.png");
}

#menu {
    display: none;
    position: fixed;
    width: 100%;
    border-top: 2px solid #bc2110;
    border-bottom: 2px solid #bc2110;
    top: 115px;
    background-color: rgba(206, 206, 206, 0.9);
    z-index: 2;
    text-align: center;
    padding: 10px;
}

.hamburger {
    padding: 20px;
    padding-right: 40px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 80px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: #bc2110;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .5s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}

.hamburger-inner {
    top: 62px;
}

.hamburger-inner:before {
    top: -10px;
}

.hamburger-inner:after {
    top: 10px;
}

.hamburger.open .hamburger-inner:after {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(80deg) scaleX(.7);
    transform: translate3d(-8px, 5px, 0) rotate(360deg) scaleX(.7);
    width: 10px;
}

.hamburger.open .hamburger-inner:before {
    -webkit-transform: translate3d(-8px, 0, 0) rotate(-80deg) scaleX(.7);
    transform: translate3d(-8px, -5px, 0) rotate(360deg) scaleX(.7);
    width: 10px;
}

#main {
    padding-top: 135px;
    position: relative;
    overflow: hidden;
    min-height: 90vh;
    width: 100%;
}

#v_aj {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    min-width: auto;
    min-height: auto;
    z-index: -2;
    object-fit: cover;
}

#v_aportar,
#v_test1,
#v_test2,
#v_test3 {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    min-width: auto;
    min-height: auto;
    object-fit: cover;
}

#v_aportar {
    height: 65vh;
}

#aprendamos {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    font-size: 16px;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    min-height: 13vh;
}

.header-transparent {
    background-color: transparent !important;
}

.redes a,
.redes span {
    cursor: pointer;
    font-size: 16px;
    color: rgb(63, 63, 63);
}

.contacto {
    text-decoration: none;
}

.contacto:hover {
    color: rgb(63, 63, 63);
}

.g1 {
    cursor: pointer;
    padding: 3px;
    width: 130px;
    border-radius: 25px;
    margin: 15px;
}

hr.divider {
    height: 0.3rem !important;
    max-width: 3rem !important;
    margin: 1.5rem auto;
    background-color: #bcbcbc;
    opacity: 1;
}

.alert-gris {
    background-color: #f6f2f2;
}

.alert-white {
    background-color: #ffffff;
}

.donar {
    font-size: 35px;
}

#nosotros,
#testimonio,
#escritos,
#historia,
#donar,
#voluntario,
#objetivo {
    max-height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

#nosotros {
    background-image: url("../img/nosotros.png");
    min-width: 40vw;
    height: 65vh;
}

#testimonio {
    background-image: url("../img/testimonios.png");
    min-width: 100%;
    height: 80vh;
}

#escritos {
    background-image: url("../img/escritos.png");
    min-width: 100%;
    height: auto;
    min-height: 200vh;
    background-size: contain;
}

#historia {
    background-image: url("../img/historia.png");
    min-width: 100%;
    height: auto;
    min-height: 95vh;
    background-size: contain;
}

#objetivo {
    background-image: url("../img/objetivo.png");
    min-width: 100%;
    height: auto;
    min-height: 60vh;
    background-size: contain;
}

#donar {
    background-image: url("../img/donar.png");
    min-width: 100%;
    height: auto;
    min-height: 80vh;
    background-size: contain;
}

#voluntario {
    background-image: url("../img/voluntario.png");
    min-width: 100%;
    height: auto;
    min-height: 80vh;
    background-size: contain;
}

.somos {
    margin-top: 3vh;
}

#img {
    width: 115px;
    background: transparent;
    border: 0;
}

#leyenda {
    text-align: justify;
}

.barra {
    background-color: #979A9A;
    padding: 2px;
    padding-right: 0;
}

.slash_red {
    background-color: #bc2110;
    padding: 3px;
    margin-bottom: 0px;
    padding-right: 0;
}

.slash_green {
    background-color: #208930;
    padding: 3px;
    margin-bottom: 0px;
    padding-right: 0;
}

.slash_blue {
    background-color: #3973d7;
    padding: 3px;
    margin-bottom: 0px;
    padding-right: 0;
}

.footer_cont {
    box-sizing: content-box;
    background-color: rgba(220, 227, 237, 0.9);
}


/*
 * Dispositivos como Ipad.
 */

@media (max-width: 1050px) {
    #img {
        width: 135px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #nosotros {
        height: 70vh;
    }
    #historia {
        min-height: 70vh;
    }
    #escritos {
        min-height: 110vh;
    }
    #donar,
    #voluntario,
    #objetivo {
        min-height: 50vh;
    }
    #v_aportar {
        height: 85vh;
    }
    .somos {
        margin-top: 0;
    }
}


/*
 * Dispositivos como Iphone.
 */

@media (max-width: 750px) {
    #img {
        width: 125px;
        padding-left: 3px;
        padding-right: 3px;
    }
    #nosotros {
        height: 60vh;
    }
    #historia {
        min-height: 60vh;
    }
    #escritos {
        min-height: 90vh;
    }
    #objetivo {
        min-height: 40vh;
    }
    #donar,
    #voluntario {
        min-height: 30vh;
    }
    #v_aportar {
        height: 75vh;
    }
    .somos {
        margin-top: 0;
    }
}

.sel {
    padding-top: 8px;
    font-weight: bold;
    font-size: 14px;
    margin: 2px;
    color: #d72727;
    text-decoration: none;
}

.block {
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 8px;
}

.block2,
.block3 {
    border-radius: 5px;
    margin-right: 20px;
    padding: 0;
    margin: 10px;
    height: 100%;
    cursor: pointer;
}

.block3 {
    margin: 10px;
    font-weight: bold;
}

.block:hover,
.block2:hover,
.block3:hover {
    border-bottom: 1px solid rgb(255, 149, 0);
    background-color: rgba(255, 255, 255, 0.4);
    animation-duration: .9s;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 2px 1px rgb(165, 165, 165);
    -moz-box-shadow: 0px 0px 2px 1px rgb(165, 165, 165);
    box-shadow: 0px 0px 2px 1px rgb(165, 165, 165);
}

.sel {
    text-decoration: none;
}

.sel:hover {
    color: black;
}

.list-inline-item {
    font-size: 22px;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}